<p>college-application works!</p>
<h3>Application Form</h3>

<div class="form">
    <form>
        <div class="form-input">
            <label for="name">Name:  </label>
            <input type="text" placeholder="Enter your name">
        </div>
        <div class="form-input">
            <label for="email">Email:  </label>
            <input type="email" placeholder="Enter your emailID">
        </div>
        <div class="form-input">
            <label for="birthday">DOB :</label>
            <input type="date" id="birthday" name="birthday">
        </div> 
        <div class="form-input">
            <label for="gender">Gender: </label>
            <input type="radio"  name="gender" value="Male">Male
            <input type="radio" name="gender" value="FeMale">Female
        </div>
        <div class="form-input">
            <label for="name">Father Name: </label>
            <input type="text">
            <label for="name">Mother Name: </label>
            <input type="text">
        </div>
        <div class="form-input"> 
            <label for="number">Phone: </label>
            <input type="text">
        </div>
        <div>
            <label for="address">Address: </label>
            <textarea></textarea>
        </div>
    </form>
</div>