 <h1>This Component Works well!!!</h1>
<h1>Angular Router App</h1>
<nav>
  <ul>
    <li><a routerLink="/product-details-component" routerLinkActive="active" ariaCurrentWhenActive="page">Product-details Component</a></li>
    <li><a routerLink="/products-list-component" routerLinkActive="active" ariaCurrentWhenActive="page">Products-list component</a></li>
    <li><a routerLink="/test-component" routerLinkActive="active" ariaCurrentWhenActive="page">Test component</a></li>
  </ul>
</nav>
The routed views render in the <router-outlet>
<router-outlet></router-outlet> 
<app-college-application></app-college-application>